In [156]:
import pandas as pd
import numpy as np
import requests as request #API Response
import json

In [157]:
# Read Criminal Data
# Website using
dataset = pd.read_csv("estimated_crimes_1979_2020.csv")
print(dataset)
# 특정행 [NaN] 일때는 드랍 시킨다
dataset = dataset.dropna(subset=['state_abbr'])

      year state_abbr          state_name  population  violent_crime  \
0     1979        NaN                 NaN   220099000        1208030
1     1979         AK              Alaska      406000           1994
2     1979         AL             Alabama     3769000          15578
3     1979         AR            Arkansas     2180000           7984
4     1979         AZ             Arizona     2450000          14528
...    ...        ...                 ...         ...            ...
2179  2020         WA          Washington     7693612          22596
2180  2020         WI           Wisconsin     5832655          18861
2181  2020         WV       West Virginia     1784787           6352
2182  2020         WY             Wyoming      582328           1364
2183  2020        NaN                 NaN   329484123        1313105

      homicide  rape_legacy  rape_revised  robbery  aggravated_assault  \
0        21460      76390.0           NaN   480700              629480
1           54        292.0           NaN      445                1203
2          496       1037.0           NaN     4127                9918
3          198        595.0           NaN     1626                5565
4          219       1120.0           NaN     4305                8884
...        ...          ...           ...      ...                 ...
2179       301          NaN        2677.0     5183               14435
2180       308          NaN        2020.0     3081               13452
2181       117          NaN         832.0      369                5034
2182        18          NaN         333.0       66                 947
2183     21570          NaN      126430.0   243600              921505

      property_crime  burglary  larceny  motor_vehicle_theft caveats
0           11041500   3327700  6601000              1112800     NaN
1              23193      5616    15076                 2501     NaN
2             144372     48517    83791                12064     NaN
3              70949     21457    45267                 4225     NaN
4             177977     48916   116976                12085     NaN
...              ...       ...      ...                  ...     ...
2179          210223     40167   142657                27399     NaN
2180           86654     12744    64517                 9393     NaN
2181           24976      4877    17828                 2271     NaN
2182            9379      1225     7190                  964     NaN
2183         6452038   1035314  4606324               810400     NaN

[2184 rows x 15 columns]

In [159]:
# 2000년대 이상, dataframe
after2000year = dataset[dataset['year'] >= 2000]

# 특정행 선택.
after2000yearDF = after2000year[['year', 'violent_crime']]
# print(after2000yearDF)
df = pd.DataFrame(index=range(0,20), columns = {'year','totalCrime'})

yearList = []
# 특정조건들의 합
for n in range(2000, 2021):
    selectedYear = after2000yearDF[after2000year['year'] == n]
    sumYear = selectedYear.sum(axis=0)
    yearList.append({'year': n, 'totalCriminalCount': sumYear['violent_crime']})

# expected Dataset
targetFrame = pd.DataFrame(yearList)
targetFrame

    year  totalCriminalCount
0   2000             1425486
1   2001             1439480
2   2002             1423677
3   2003             1383676
4   2004             1360088
5   2005             1390745
6   2006             1435123
7   2007             1422970
8   2008             1394461
9   2009             1325896
10  2010             1251248
11  2011             1206031
12  2012             1217067
13  2013             1199684
14  2014             1186185
15  2015             1234854
16  2016             1285606
17  2017             1283875
18  2018             1252399
19  2019             1250393
20  2020             1313105

In [161]:
#API request
apiAddress = "https://api.themoviedb.org/3/discover/movie?api_key=e4216107f76e07c77cf69da607dc51a7&language=en-US&sort_by=release_date.desc&include_adult=false&include_video=false&page=1&release_date.gte=2000-01-01&release_date.lte=2001-12-31&with_genres=28&with_original_language=en&with_watch_monetization_types=flatrate"
data = request.get(apiAddress)
dataJson = data.json()
# json value access
dataJson['total_results']
dataJson

{'page': 1,
 'results': [{'adult': False,
   'backdrop_path': '/xd6A8LAPJLZ6qHm8uLGVh8PJ3Dn.jpg',
   'genre_ids': [27, 28, 53, 878],
   'id': 72231,
   'original_language': 'en',
   'original_title': 'Flying Virus',
   'overview': "After a series of Amazonian Indian attacks on US owned petroleum installation in Brazil, both governments start a secret 'special program'. In fact colonel Ezekial's men use GM killer bees to eradicate the tribes. During an Indian attack, reporter Ann Bauer is stung, yet survives after a mysterious rescue. Dr. Stephen North realizes the venom has priceless healing powers and smuggles the bee aboard a flight to New York. Bauer, her nearly-divorced husband, Martin, who is aboard and her friend, US State Department project representative, Scotty, face potential mass-killing after turbulence releases the bees aboard.",
   'popularity': 3.855,
   'poster_path': '/xDEJVQMBRPiXhL8QEC2gD3asxDx.jpg',
   'release_date': '2001-12-31',
   'title': 'Flying Virus',
   'video': False,
   'vote_average': 4,
   'vote_count': 15},
  {'adult': False,
   'backdrop_path': None,
   'genre_ids': [28, 53],
   'id': 55459,
   'original_language': 'en',
   'original_title': 'Terminator Woman',
   'overview': "Two LA cops, Julie and Jay, must return Marsalas to Africa to stand trial as the chief state witness against international villain Alex Gatelee. Gatelee, into everything from gold smuggling to female slave trade, hijacks the party. In a vicious shoot out Julie and Jay overcome Gatelee's men. Gatelee then has Julie kidnapped from one of his nightclubs. He tries to use Julie as bait to get Jay to hand over Marsalas in exchange for Julie...",
   'popularity': 1.4,
   'poster_path': '/eGAxBO3RuDgkbxv9ul03SSjkiOO.jpg',
   'release_date': '1992-06-30',
   'title': 'Terminator Woman',
   'video': False,
   'vote_average': 4.4,
   'vote_count': 6},
  {'adult': False,
   'backdrop_path': '/35tBkTTIOjsrngPiDrqCz7NpKYK.jpg',
   'genre_ids': [28, 35, 80],
   'id': 306,
   'original_language': 'en',
   'original_title': 'Beverly Hills Cop III',
   'overview': "Back in sunny southern California and on the trail of two murderers, Axel Foley again teams up with LA cop Billy Rosewood. Soon, they discover that an amusement park is being used as a front for a massive counterfeiting ring – and it's run by the same gang that shot Billy's boss.",
   'popularity': 15.939,
   'poster_path': '/7vIpCkgGEfk5LZwm78nMxswLJRH.jpg',
   'release_date': '1994-05-24',
   'title': 'Beverly Hills Cop III',
   'video': False,
   'vote_average': 5.9,
   'vote_count': 1400},
  {'adult': False,
   'backdrop_path': '/gr4AHiZLNMgKWIvdnd3peqSkNba.jpg',
   'genre_ids': [12, 28, 35, 10749],
   'id': 6068,
   'original_language': 'en',
   'original_title': 'Six Days Seven Nights',
   'overview': "When Quinn, a grouchy pilot living the good life in the South Pacific, agrees to transfer a savvy fashion editor, Robin, to Tahiti, he ends up stranded on a deserted island with her after their plane crashes. The pair avoid each other at first, until they're forced to team up to escape from the island -- and some pirates who want their heads.",
   'popularity': 13.039,
   'poster_path': '/fzWrrCzRa16v51TXAUuT6Wendw7.jpg',
   'release_date': '1998-06-12',
   'title': 'Six Days Seven Nights',
   'video': False,
   'vote_average': 6,
   'vote_count': 1155},
  {'adult': False,
   'backdrop_path': '/8uNjWHsSW3TSOWDU4EY76H5MzAG.jpg',
   'genre_ids': [28, 53, 12],
   'id': 657,
   'original_language': 'en',
   'original_title': 'From Russia with Love',
   'overview': 'Agent 007 is back in the second installment of the James Bond series, this time battling a secret crime organization known as SPECTRE. Russians Rosa Klebb and Kronsteen are out to snatch a decoding device known as the Lektor, using the ravishing Tatiana to lure Bond into helping them. Bond willingly travels to meet Tatiana in Istanbul, where he must rely on his wits to escape with his life in a series of deadly encounters with the enemy.',
   'popularity': 29.346,
   'poster_path': '/gH4SnuOJnkYZcORXd8woYjnS0kQ.jpg',
   'release_date': '1963-10-10',
   'title': 'From Russia with Love',
   'video': False,
   'vote_average': 7.1,
   'vote_count': 2353},
  {'adult': False,
   'backdrop_path': '/fNp2ikvY8WZTyVbK1iXW84RLbO5.jpg',
   'genre_ids': [12, 14, 28],
   'id': 9387,
   'original_language': 'en',
   'original_title': 'Conan the Barbarian',
   'overview': 'A film adaptation of the classic sword and sorcery hero, Conan the Barbarian. A horde of rampaging warriors massacre the parents of young Conan and enslave the young child for years on The Wheel of Pain. As the sole survivor of the childhood massacre, Conan is released from slavery and taught the ancient arts of fighting. Transforming himself into a killing machine, Conan travels into the wilderness to seek vengeance on Thulsa Doom, the man responsible for killing his family. In the wilderness, Conan takes up with the thieves Valeria and Subotai. The group comes upon King Osric, who wants the trio of warriors to help rescue his daughter who has joined Doom in the hills.',
   'popularity': 25.148,
   'poster_path': '/6alx92dvVa6RSu2JrKgbvdDvDit.jpg',
   'release_date': '1982-04-02',
   'title': 'Conan the Barbarian',
   'video': False,
   'vote_average': 6.8,
   'vote_count': 1951},
  {'adult': False,
   'backdrop_path': None,
   'genre_ids': [28],
   'id': 274053,
   'original_language': 'en',
   'original_title': 'Her Name Is Cat 2: Journey To Death',
   'overview': 'Foreign - Samantha is on a mission to Thailand to transport a microchip that contains secret Russian military information before it falls into the hands of Chaipon, a ruthless Thai general. When Sam falls for the man carrying the chip, she must save the day.',
   'popularity': 0.654,
   'poster_path': '/kYuj56qdJflguuaawCz2ChZ2y7g.jpg',
   'release_date': '2001-12-22',
   'title': 'Her Name Is Cat 2: Journey To Death',
   'video': False,
   'vote_average': 1,
   'vote_count': 1},
  {'adult': False,
   'backdrop_path': '/xOyHKUFEhvogSHnDbsa5E7ZYx9D.jpg',
   'genre_ids': [10751, 28, 12, 16, 35, 878],
   'id': 12589,
   'original_language': 'en',
   'original_title': 'Jimmy Neutron: Boy Genius',
   'overview': "Jimmy Neutron is a boy genius and way ahead of his friends, but when it comes to being cool, he's a little behind. All until one day when his parents, and parents all over Earth are kidnapped by aliens, it's up to him to lead all the children of the world to rescue their parents.",
   'popularity': 23.593,
   'poster_path': '/zdOVbZk53CiCtgcC4UOSSEFvf5U.jpg',
   'release_date': '2001-12-21',
   'title': 'Jimmy Neutron: Boy Genius',
   'video': False,
   'vote_average': 5.9,
   'vote_count': 722},
  {'adult': False,
   'backdrop_path': None,
   'genre_ids': [99, 28, 80],
   'id': 572837,
   'original_language': 'en',
   'original_title': 'Wrestling Women USA!',
   'overview': "Compilation of six women wrestling matches formerly available in 8mm films and then available in video as Wrestling Women (1981): Lily Bitter vs. June Beyers, Cora Combs vs. Laraine Johnson, Clara Mortensen vs. Rita Martinez, Lynn O'Connor vs. June Adair, Ella Waldeck vs. Jane Mull, and the tag team match Ida May and Violet Vian vs. Carrie Majors and Betty Hawkins.",
   'popularity': 0.6,
   'poster_path': '/9IizVZm2pYS9FJgvAtaGoARn8TY.jpg',
   'release_date': '2001-12-18',
   'title': 'Wrestling Women USA!',
   'video': False,
   'vote_average': 1,
   'vote_count': 1},
  {'adult': False,
   'backdrop_path': '/35X6MDrK7rpRu4Ae5oAPVjPKo1k.jpg',
   'genre_ids': [28, 36, 10752],
   'id': 855,
   'original_language': 'en',
   'original_title': 'Black Hawk Down',
   'overview': 'When U.S. Rangers and an elite Delta Force team attempt to kidnap two underlings of a Somali warlord, their Black Hawk helicopters are shot down, and the Americans suffer heavy casualties, facing intense fighting from the militia on the ground.',
   'popularity': 42.24,
   'poster_path': '/7fU5dSqKRL4XHeEUz62rCKBfYok.jpg',
   'release_date': '2001-12-28',
   'title': 'Black Hawk Down',
   'video': False,
   'vote_average': 7.4,
   'vote_count': 4647},
  {'adult': False,
   'backdrop_path': None,
   'genre_ids': [28, 35, 53],
   'id': 34620,
   'original_language': 'en',
   'original_title': 'Beyond the City Limits',
   'overview': 'Three women outsmart unsavory men who try to cheat them out of their take in an almost-botched casino heist.',
   'popularity': 2.614,
   'poster_path': '/z46HWZLQBdXCRVlJMeCe7u8TrwQ.jpg',
   'release_date': '2001-12-17',
   'title': 'Beyond the City Limits',
   'video': False,
   'vote_average': 5.6,
   'vote_count': 8},
  {'adult': False,
   'backdrop_path': '/ru9tQzugjeOflWGf8KaSyU8vjVn.jpg',
   'genre_ids': [80, 28, 9648, 53],
   'id': 11074,
   'original_language': 'en',
   'original_title': 'Striking Distance',
   'overview': 'Coming from a police family, Tom Hardy ends up fighting his uncle after the murder of his father. Tom believes the killer is another cop, and goes on the record with his allegations. Demoted to water-way duty Tom, along with new partner Jo Christman, navigate the three rivers looking for clues and discovering bodies. This time the victims are women Tom knows, he must find the killer to prove his innocence.',
   'popularity': 16.37,
   'poster_path': '/1bLazrQWJQhO6u58vJZXJZ3ZFDh.jpg',
   'release_date': '1993-09-17',
   'title': 'Striking Distance',
   'video': False,
   'vote_average': 5.8,
   'vote_count': 659},
  {'adult': False,
   'backdrop_path': None,
   'genre_ids': [28],
   'id': 950551,
   'original_language': 'en',
   'original_title': 'Meri Adalat',
   'overview': 'A loving brother is protective of his twin sister. He gets her married to the man of her choice and eventually exposes the evil nature of her in-laws.',
   'popularity': 0.6,
   'poster_path': '/vnta03qg138niLs6ZzXluJhv393.jpg',
   'release_date': '2001-12-14',
   'title': 'Meri Adalat',
   'video': False,
   'vote_average': 0,
   'vote_count': 0},
  {'adult': False,
   'backdrop_path': '/mvQLvvN2l0dAtIHSzCzdYp6vJ0G.jpg',
   'genre_ids': [28, 53, 80],
   'id': 8195,
   'original_language': 'en',
   'original_title': 'Ronin',
   'overview': "A briefcase with undisclosed contents – sought by Irish terrorists and the Russian mob – makes its way into criminals' hands. An Irish liaison assembles a squad of mercenaries, or 'ronin', and gives them the thorny task of recovering the case.",
   'popularity': 15.035,
   'poster_path': '/oVolaz0eIANKuPXhRuX4H5dz0HB.jpg',
   'release_date': '1998-09-25',
   'title': 'Ronin',
   'video': False,
   'vote_average': 6.9,
   'vote_count': 1862},
  {'adult': False,
   'backdrop_path': None,
   'genre_ids': [28, 10752],
   'id': 65278,
   'original_language': 'en',
   'original_title': 'Mutiny',
   'overview': "Fact-based story about 300 predominantly black sailors who were killed on July 17, 1944 while loading munitions on a ship in San Francisco. Three weeks later, 50 survivors were court-martialed for refusing to load another shipment. The men cited the Navy's lack of care for their safety.",
   'popularity': 1.234,
   'poster_path': '/q2nszb3i50pXqB3DSHXr0Hi2jo3.jpg',
   'release_date': '1999-01-01',
   'title': 'Mutiny',
   'video': False,
   'vote_average': 4.3,
   'vote_count': 3},
  {'adult': False,
   'backdrop_path': None,
   'genre_ids': [28, 53],
   'id': 875088,
   'original_language': 'en',
   'original_title': 'The S.I.N.',
   'overview': 'Against the backdrop of the race for mayor of Las Vegas, a mad bomber is on the loose and his target is Pacific Cargo Shipping. The company hires expert and world-renowned P.I., Bud Chelzer, to investigate the latest bombing in Las Vegas, NV. At the same time, Brad Morrison, a recently fired singer/comedian, has just been approached by a sexy and mysterious woman...',
   'popularity': 0.6,
   'poster_path': None,
   'release_date': '2001-12-12',
   'title': 'The S.I.N.',
   'video': False,
   'vote_average': 0,
   'vote_count': 0},
  {'adult': False,
   'backdrop_path': None,
   'genre_ids': [28, 80],
   'id': 62284,
   'original_language': 'en',
   'original_title': 'Черная Кровь',
   'overview': 'Русско-эстонская банда похищает офицера российской таможни, прибывшего в Таллин с особо важными документами. При попытке допроса оперативник теряет память. Пытаясь вырвать у офицера необходимую информацию, преступники делают его наркоманом… Офицер спецотряда "Кобра" совместно с эстонскими полицейскими пытается найти в Таллине следы похищенного мафией офицера Государственного Таможенного Комитета России.',
   'popularity': 0.6,
   'poster_path': None,
   'release_date': '2001-12-12',
   'title': 'Chernaya Krov',
   'video': False,
   'vote_average': 0,
   'vote_count': 0},
  {'adult': False,
   'backdrop_path': '/vMeIYrazqkcESPW7IGAUXbnKbzI.jpg',
   'genre_ids': [28, 80, 53],
   'id': 10651,
   'original_language': 'en',
   'original_title': 'The Dead Pool',
   'overview': 'Dirty Harry Callahan returns for his final film adventure. Together with his partner Al Quan, he must investigate the systematic murder of actors and musicians. By the time Harry learns that the murders are a part of a sick game to predict the deaths of celebrities before they happen, it may be too late...',
   'popularity': 15.023,
   'poster_path': '/mqwGpW0Ptrvz1GmfCnLAOA4cQ8g.jpg',
   'release_date': '1988-04-14',
   'title': 'The Dead Pool',
   'video': False,
   'vote_average': 6.3,
   'vote_count': 651},
  {'adult': False,
   'backdrop_path': None,
   'genre_ids': [28, 99],
   'id': 68902,
   'original_language': 'en',
   'original_title': 'Shaolin: Wheel of Life',
   'overview': "Have you ever done a handstand... on the tips of your index fingers? How about snapping iron bars over your head as if they were bread-sticks? You'll witness these amazing feats and much more in this astonishing London performance of China's legendary Shaolin monks. In perfecting their martial arts prowess, these devoted Buddhists have honed their physical and mental disciplines to such an uncommon degree that their movements seem almost supernaturally powerful. From the athletic contortions of a young acolyte to an older monk being hoisted aloft on the points of sharpened spears, these men and boys have conquered and crossed boundaries of control that would strike most outsiders as impossible if it weren't for their living proof. In demonstrating these and other kung fu skills, the Shaolin also enact their history as an enduring order, providing a theatrical narrative that's literally breathtaking.",
   'popularity': 1.485,
   'poster_path': None,
   'release_date': '2001-12-11',
   'title': 'Shaolin: Wheel of Life',
   'video': False,
   'vote_average': 7,
   'vote_count': 1},
  {'adult': False,
   'backdrop_path': '/2Iaw1tvjBS1z2eVw2KHkpvTUUfF.jpg',
   'genre_ids': [53, 10770, 28],
   'id': 54712,
   'original_language': 'en',
   'original_title': 'Jane Doe',
   'overview': "A woman's son is snatched and she must follow his kidnappers’ instructions to get him back. But when she’s framed for murder by a government department, she must take them on at their own game to ensure her son's survival.",
   'popularity': 2.529,
   'poster_path': '/fcwpRI0cdi1mYvWxwdmZhRnRatL.jpg',
   'release_date': '2001-12-11',
   'title': 'Jane Doe',
   'video': False,
   'vote_average': 6,
   'vote_count': 8}],
 'total_pages': 37,
 'total_results': 729}

In [164]:
movieList = []
for year in range(2000,2021):
    apiAddress = "https://api.themoviedb.org/3/discover/movie?api_key=e4216107f76e07c77cf69da607dc51a7&language=en-US&sort_by=release_date.desc&include_adult=false&include_video=false&page=1&release_date.gte={}-01-01&release_date.lte={}-12-31&with_genres=28&with_original_language=en&with_watch_monetization_types=flatrate".format(year, year)
    data = request.get(apiAddress)
    jsonData = data.json()
    movieTotalCount = jsonData['total_results']
    movieList.append(movieTotalCount)
    
# movie totalCount Added
print(movieList)

[365, 437, 551, 525, 448, 497, 500, 544, 631, 633, 645, 685, 680, 697, 697, 706, 778, 715, 755, 691, 709]

In [165]:
print(len(movieList))

21

In [166]:
targetFrame['movieCount'] = movieList

In [167]:
targetFrame

    year  totalCriminalCount  movieCount
0   2000             1425486         365
1   2001             1439480         437
2   2002             1423677         551
3   2003             1383676         525
4   2004             1360088         448
5   2005             1390745         497
6   2006             1435123         500
7   2007             1422970         544
8   2008             1394461         631
9   2009             1325896         633
10  2010             1251248         645
11  2011             1206031         685
12  2012             1217067         680
13  2013             1199684         697
14  2014             1186185         697
15  2015             1234854         706
16  2016             1285606         778
17  2017             1283875         715
18  2018             1252399         755
19  2019             1250393         691
20  2020             1313105         709

In [168]:
# Calcualte correlation between two columns 
corr = targetFrame['totalCriminalCount'].corr(targetFrame['movieCount'])
print("Correlation between totalCriminalCount and movieCount is: " + str(corr))
corr = targetFrame['year'].corr(targetFrame['totalCriminalCount'])
print("Correlation between year and totalCriminalCount is: " + str(corr))

Correlation between totalCriminalCount and movieCount is: -0.8009708446869702
Correlation between year and totalCriminalCount is: -0.753558919281101

In [138]:
# 2000년대 이후, 인구가 폭력사건에 영향이 있는지 알아보기
after2000year = dataset[dataset['year'] >= 2000]

# 특정행 선택.
targetDF = after2000year[['year','population','violent_crime']]
corr = targetDF['population'].corr(targetDF['violent_crime'])
print("Correlation between population and violent_crime is: " + str(corr))

Correlation between population and violent_crime is: 0.9592357246722923

In [154]:
# movie after 2000 year
dataset = pd.read_csv("estimated_crimes_1979_2020.csv")
movieAfter2000year = dataset[dataset['year'] >= 2000]
movieAfter2000year = movieAfter2000year[['year', 'violent_crime', 'state_name']]
movieAfter2000year

      year  violent_crime          state_name
1092  2000        1425486                 NaN
1093  2000           3554              Alaska
1094  2000          21620             Alabama
1095  2000          11904            Arkansas
1096  2000          27281             Arizona
...    ...            ...                 ...
2179  2020          22596          Washington
2180  2020          18861           Wisconsin
2181  2020           6352       West Virginia
2182  2020           1364             Wyoming
2183  2020        1313105                 NaN

[1092 rows x 3 columns]

In [155]:
electionDataSet = pd.read_csv("1976-2020-senate.csv", engine='python')
electionAfter2000 = electionDataSet[electionDataSet['year'] >= 2000]
electionAfter2000

,year,state,state_po,state_fips,state_cen,state_ic,office,district,stage,special,candidate,party_detailed,writein,mode,candidatevotes,totalvotes,unofficial,version,party_simplified
1631,2000,ARIZONA,AZ,4,86,61,US SENATE,statewide,gen,False,WILLIAM TOEL,INDEPENDENT,False,total,109230,1397076,False,20210114,OTHER
1632,2000,ARIZONA,AZ,4,86,61,US SENATE,statewide,gen,False,VANCE HANSEN,GREEN,False,total,108926,1397076,False,20210114,OTHER
1633,2000,ARIZONA,AZ,4,86,61,US SENATE,statewide,gen,False,JON KYL,REPUBLICAN,False,total,1108196,1397076,False,20210114,REPUBLICAN
1634,2000,ARIZONA,AZ,4,86,61,US SENATE,statewide,gen,False,BARRY J. HESS II,LIBERTARIAN,False,total,70724,1397076,False,20210114,LIBERTARIAN
1635,2000,CALIFORNIA,CA,6,93,71,US SENATE,statewide,gen,False,"JOSE LUIS ""JOE"" CAMAHORT",REFORM,False,total,96552,10623608,False,20210114,OTHER
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3624,2020,WYOMING,WY,56,83,68,US SENATE,statewide,gen,False,UNDER VOTES,NaN,False,total,6401,278503,False,20210114,OTHER
3625,2021,GEORGIA,GA,13,58,44,US SENATE,statewide,runoff,True,KELLY LOEFFLER,REPUBLICAN,False,total,2194848,4483294,True,20210114,REPUBLICAN
3626,2021,GEORGIA,GA,13,58,44,US SENATE,statewide,runoff,True,RAPHAEL WARNOCK,DEMOCRAT,False,total,2288446,4483294,True,20210114,DEMOCRAT
3627,2021,GEORGIA,GA,13,58,44,US SENATE,statewide,runoff,False,DAVID A. PERDUE,REPUBLICAN,False,total,2213979,4483241,True,20210114,REPUBLICAN
3628,2021,GEORGIA,GA,13,58,44,US SENATE,statewide,runoff,False,JON OSSOFF,DEMOCRAT,False,total,2269262,4483241,True,20210114,DEMOCRAT